<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hello, <%= username %>!</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <h1>Hello, <%= username %>!</h1>
  <img src="/images/a1.jpg" alt="" style="width:100px;height:100px;">
</body>
</html>